<p-card styleClass="mt-4">
  <p-table
    [columns]="columns"
    [value]="data().content || []"
    [lazy]="true"
    (onLazyLoad)="pageChangeEvent($event)"
    [paginator]="true"
    [rows]="3"
    [totalRecords]="data().totalElements"
    [rowsPerPageOptions]="[10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="rounded-3xl"
  >
    <ng-template let-columns pTemplate="header">
    <tr>
      @if (hasCheckbox()) {
        <th>
          <input
            type="checkbox"
            (change)="toggleSelectAll($event)"
            [checked]="isAllSelected()"
          />
        </th>
      }
      @for (column of columns; track column) {
        <th [pSortableColumn]="column.name" class="text-left p-2">
          <div class="flex justify-between items-center w-full">
            {{ column.label }}
            <p-sortIcon
              *ngIf="column.sortable"
              field="{{ column.name }}"
              pTooltip="Ordenar"
              tooltipPosition="bottom"
            ></p-sortIcon>
          </div>
        </th>
      }
      @if (buttons().length > 0) {
        <th>Ações</th>
      }
    </tr>
    </ng-template>
    <ng-template let-data pTemplate="body">
        <tr>
          @if (hasCheckbox()) {
            <td>
              <input
                type="checkbox"
                (change)="toggleSelectItem(data)"
                [checked]="isSelected(data)"
              />
            </td>
          }
          @for (column of columns; track column) {
            <td>{{ getColumnValue(data, column.name) }}</td>
          }
          @if (buttons().length > 0) {
            <td>
              @for (action of buttons(); track action.label) {
                <p-button
                  size="small"
                  styleClass="inline-block mr-3 w-auto"
                  (click)="action.click(data)"
                  label="{{ action.label }}">
                </p-button>
              }
            </td>
          }
        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + (hasCheckbox() ? 1 : 0) + (buttons().length ? 1 : 0)"
            class="text-center">
          Nenhum item encontrado.
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


