.sidebar.open + .content {
  margin-left: 175px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #495057;
}


/* Sidebar fixo */
.sidebar {
  width: 175px;
  background-color: #244b8c;
  color: #fff;
  height: calc(100vh - 100px); /* Altura total - header + footer */
  overflow-y: auto;
  position: sticky;
  top: 79px;
  transition: width 0.3s ease;

}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}
