<div class="modal-header">
  <h4 class="modal-title pull-left">Criar/Editar Livro</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mb-3">
  <form [formGroup]="formGroup" (ngSubmit)="saveData()">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="title">Título:</label>
        <input class="form-control" id="title" type="text" formControlName="title" />
        <app-required-field-error [formGroup]="formGroup" field="title"></app-required-field-error>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="author">Autor:</label>
        <input class="form-control" id="author" type="text" formControlName="author" />
        <app-required-field-error [formGroup]="formGroup" field="author"></app-required-field-error>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="author">Categoria:</label>
        <input class="form-control" id="category" type="text" formControlName="category" />
        <app-required-field-error [formGroup]="formGroup" field="category"></app-required-field-error>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="author">ISBN:</label>
        <input class="form-control" id="isbn" type="text"  formControlName="isbn" (ngModelChange)="verifyIsbnExists($event)" />
        <app-required-field-error [formGroup]="formGroup" field="isbn"></app-required-field-error>
        @if(isbnExists){
          <div class="text-danger">Isbn já cadastrada.</div>
        }
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Data de Publicação:</label>
        <input type="date" id="publicationDate" class="form-control" formControlName="publicationDate"/>
      </div>
      <div class="col-md-12">
        <app-required-field-error [formGroup]="formGroup" field="publicationDate"></app-required-field-error>
      </div>
    </div>


    <div class="form-group">
      <div class="float-right">
        <button type="button" class="btn btn-info btn-sm" (click)="cancel()">Cancelar</button>
        <button type="submit" class="ml-3 btn btn-primary btn-sm">Salvar</button>
      </div>
    </div>
  </form>
</div>

